.w3-round-image {
    width: 100%;
    max-width: 100%;            /* scales image down for smaller screens */
    border-radius: 10px;        /* rounds the images edges*/        
}

#appetizersImg .w3-quarter,     /* food images for menu */
#mainsImg .w3-quarter,
#dessertsImg .w3-quarter,
#beveragesImg .w3-quarter {        
    height: 200px;
    margin-bottom: 20px;
}

.w3-bar-item.w3-button {
    border-radius: 10px;        /* rounds edges on nav links */
    margin: 0 8px;              /* adds space between links */
}

/* styles for centering content */
.w3-container {
    text-align: center;
}

.w3-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;            /* moves opening hours next to calendar */
}

a {
    text-decoration: none;
           /* sets link color */
    cursor: pointer;        /* sets cursor to a pointer */
}

a:hover {
    text-decoration: underline; /* underlines on hover */
}

h1 h2 h3 h4{
    color: #fff;
}

p {
    color: #fff;
    max-width: 800px;       /* for better readability */
    margin: 0 auto;         /* centers paragraph horizontally */
}

/* Adds spacing between title and paragraph */
.w3-row h1,
.w3-row p {
    margin-bottom: 20px;
}

.w3-half{
    flex: 1;          /* moves opening hours next to calendar */
    box-sizing: border-box;
}

/* images not displayed on screen less than 600px */
@media screen and (max-width:600px) {
    #appetizersImg .w3-quarter,
    #mainsImg .w3-quarter, 
    #dessertsImg .w3-quarter,
    #beveragesImg .w3-quarter {
        display: none;
    }
}

/* Flexbox styles for Staff page */

.staffPage body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staffPage header {
    width: 100%;
}

.staffPage main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.staffPage footer {
    width: 100%;
}

.staffPage table.info table.roster {
    /*border-collapse: collapse;*/
    max-width: 100%;
    margin-top: 20px;
}

.staffPage table.info, table.info th, table.info td {
    border: 1px solid #757474;
}

.staffPage table.roster, table.roster th, table.roster td {
    border: 1px solid #757474;
}

.staffPage table.info th, table.info td {
    padding: 15px;
    text-align: left;
}

.staffPage table.roster th, table.roster td {
    padding: 15px;
    text-align: left;
}

.staffPage table.info th {
    background-color: #83aaa5;
    color: white;
}

.staffPage table.roster th {
    background-color: #83aaa5;
    color: white;
}